<RunSettings>
  <RunConfiguration>
    <TargetFrameworkVersion>.NETCoreApp,Version=v3.0</TargetFrameworkVersion>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="BaseUrl" value="undefined" />
    <Parameter name="ClientId" value="undefined" />
	  <Parameter name="ClientSecret" value="undefined" />
    <Parameter name="Username" value="undefined" />
    <Parameter name="Password" value="undefined" />
  </TestRunParameters>
</RunSettings>